@media screen and (min-width:800px) {
  aside ::before {
    content: '';
    position: absolute;
    top: 32px;
    right: 109px;
    z-index: -1;
    height: 40px;
    width: 290px;
    background: rgb(44, 113, 59);
    border-radius: 30px;
    transition: width 500ms ease-out;
    transition: opacity 500ms ease;
  }
}

@media screen and (max-width: 800px) {
  body {
    overflow-y: visible;
    overflow-x: hidden;
  }

  .box {
    height: 20vw;
    width: 20vw;
  }

  aside {
    z-index: 10;
    right: 0;
  }

  .header {
    top: 15%;
    left: 30vw;
    right: 30vw;
  }

  #logo {
    width: 40vw;
  }

  nav {
    width: 100%;
    right: 0;
    z-index: 11;
    display: flex;
    justify-content: center;
  }

  h1+h1 {
    font-size: 1em;
    margin-bottom: -1em;
  }

  .heading {
    top: 30%;
    height: 200px;
  }

  .description {
    top: 50%;
  }

  .description .text {
    padding-right: 30px;
  }
}

@media screen and (max-width:450px) {
  nav button {
    width: 40px;
  }

  aside {
    width: 0;
  }

  .selected {
    width: 100px;
  }

  nav td {
    width: auto;
  }

  .description {
    top: 66%;
    height: 170px;
  }

  .description .text {
    width: 90vw;
    font-size: 0.9em;
  }

  footer {
    z-index: 0;
    position: fixed;
    opacity: 0.5;
  }
}